* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.main-container {
	width: 100vw;
	padding: 50px 15vw;
}

.page-footer {
	width: 100vw;
	height: 7.5vh;

	position: fixed;
	bottom: 0;

	padding: 15px;
	text-align: center;
}

.hidden {
	display: none;
}

.close-overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	display: none;
}

.form-control {
	font-size: 12px;
}

.pull-right {
	float: right;
}

.m-t-20 {
	margin-top: 20px;
}

.custom-spinner {
	margin-top: 30px;
}

.custom-spinner-text {
	margin: 30px;
}

.map {
	height: 200px;
	width: 100%;
}

.map-preview {
	height: 400px;
	width: 100%;
	margin-bottom: 20px;
}

button.month-selector {
	cursor: pointer;
}

button.month-selector:hover {
	background-color: #F0F0F0;
}

button.month-selector.active:hover {
	background-color: #007bff; /*hack it*/
}

.color-primary {
	color: #6600ff;
}

/* Hides Scrollbar */
::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 864px) {
	.sd-container div {
		display: none;
	}
}