.signin-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -50;
	border: 1px solid #ccc;

	/* Position overlay in the center of screen */
	transform: translate(-50%, -50%);

	width: 0;
	height: 36.5vh;
	background: #FFF;
	border-radius: 20px;

	visibility: hidden;

	transition: width 0.5s ease, visibility 0.5s ease, z-index 0.5s ease;
}

.signin-overlay.show {
	z-index: 2;
	width: 30vw;
	visibility: visible;

	-webkit-box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);
	box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);

	transition: z-index 0.5s ease, width 0.5s ease, box-shadow 1s ease 0.5s;
}

.signin-container {
	display: none;
	height: 100%;
}

.signin-header {
	padding: 20px;
	font-size: 20px;
}

.signin-header:after {
	content: '';
    height: 1px;
    display: block;
    width: 90px;
    background: #CCC;
    margin-left: -6px;

    animation: drawLine 1.5s;
	animation-fill-mode: both;
}

.signin-body {
	padding: 20px;
	height: 70%;
	overflow: auto;

}

@keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 80px;
    }
}