.signup-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -50;
	border: 1px solid #ccc;

	/* Position overlay in the center of screen */
	transform: translate(-50%, -50%);

	width: 0;
	height: 70vh;
	background: #FFF;
	border-radius: 20px;

	visibility: hidden;

	transition: width 0.5s ease, visibility 0.5s ease, z-index 0.5s ease;
}

.signup-overlay.show {
	z-index: 2;
	width: 30vw;
	visibility: visible;

	-webkit-box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);
	box-shadow: 0px 5px 5px 0px rgba(179,179,179,1);

	transition: z-index 0.5s ease, width 0.5s ease, box-shadow 1s ease 0.5s;
}

@media (max-width: 1199px) {
    .signup-overlay.show {
		width: 40vw;
    }
}
@media (max-width: 991px) {
	.signup-overlay.show {
		width: 60vw;
	}
}
@media (max-width: 480px) {
	.signup-overlay.show {
		width: 90vw;
	}
}

.signup-container {
	display: none;
	height: 100%;
}

.signup-header {
	padding: 20px;
	font-size: 20px;
}

.signup-header:after {
	content: '';
    height: 1px;
    display: block;
    width: 90px;
    background: #CCC;
    margin-left: -6px;

    animation: drawLine 1.5s;
	animation-fill-mode: both;
}

.signup-body {
	padding: 20px;
	height: 80%;
	overflow: auto;
}

#signup_form span {
	font-size: 10px;
}

.btn-facebook {
	color: #fff;
	font-size: 14px;
	background: #3B5998;
}

.btn-facebook:hover {
	color: #fff;
}

@keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 90px;
    }
}