* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.bg-first, .bg-second, .bg-third {
	width: 100vw;
	height: 100vh;

	position: absolute;
	left: 0;
	z-index: -1;
}

.bg-first {
	top: 0;
	background-image: linear-gradient(to bottom, #399ebb, #2a4863);
	
}

 .bg-second {
 	top: 100vh;
 	background-image: linear-gradient(to bottom, #2a4863, #3f7eac);
 }

 .bg-third {
 	top: 200vh;
 	background-image: linear-gradient(to bottom, #3f7eac, #399ebb);
 	
 }

.main-content {
	height: 90.8vh;
	padding: 0 5vw;
}

.page-footer {
	width: 100vw;
	height: 75px;

	position: absolute;
	bottom: 0;

	padding: 15px;
}

.sd-container {
	width: 70px;
	color: #f2f2f2;
	margin-left: auto;
	text-align: center;
}

.sd-container div {
	font-size: 12px;
}

.sd-container i {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(0); }
}
@keyframes action {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.top-content, .categories-content, .all-content {
	/*position: absolute;*/
	width: 90vw;
	height: 85vh;
}

.top-content {
	background: rgba(0,0,0,0.2);
}

.categories-content {
	background: rgba(0,0,0,0.4);
	margin-top: 15vh;
}

.all-content {
	background: rgba(0,0,0,0.6);
	margin-top: 15vh;
}

::-webkit-scrollbar {
	display: none;
}