* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.main-container {

}

.page-footer {
	width: 100vw;
	height: 7.5vh;

	position: fixed;
	bottom: 0;

	padding: 15px;
	text-align: center;
}

.hidden {
	display: none;
}

.pull-right {
	float: right;
}

.m-t-20 {
	margin-top: 20px;
}

/* Hides Scrollbar */
::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 864px) {
	.sd-container div {
		display: none;
	}
}